*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.navbar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 180px;
}

.nav-links{
    display: flex;
    gap: 35px;
}

.nav-links a{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    background-color: #6c63ff;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
}